<div class="row">
  <div class="col-md-3">
    <span class="hipster-welcome"></span>
  </div>
  <div class="col-md-9">
    <h1 class="display-4">{{ 'home.title' | translate }}</h1>
    <p class="lead">{{ 'home.subtitle' | translate }}</p>

    <div [ngSwitch]="account !== null">
      <div class="alert alert-success" *ngSwitchCase="true">
        <span id="home-logged-message" *ngIf="account">
          {{ 'home.logged.message' | translate:{username: account.login} }}
        </span>
      </div>

      <div class="alert alert-warning" *ngSwitchCase="false">
        <span>{{ 'global.messages.info.authenticated.prefix' | translate }}</span>
        <a class="alert-link" routerLink="/login">{{ 'global.messages.info.authenticated.link' | translate }}</a>.
      </div>

      <div class="alert alert-warning" *ngSwitchCase="false">
        <span>{{ 'global.messages.info.register.noaccount' | translate }}</span>
        <a class="alert-link" routerLink="/account/register">{{ 'global.messages.info.register.link' | translate }}</a>
      </div>
    </div>

    <!-- Dashboard de suivi des tâches -->
    <jhi-task-dashboard *ngIf="account"></jhi-task-dashboard>
    <jhi-dashboard *ngIf="account"></jhi-dashboard>
    <!-- End Dashboard de suivi des tâches -->

    <p>{{ 'home.question' | translate }}</p>

    <ul>
      <li><a href="https://www.jhipster.tech/documentation-for-current-release/" target="_blank" rel="noopener noreferrer">{{ 'home.link.homepage' | translate }}</a></li>
      <li><a href="https://www.jhipster.tech/documentation-for-current-release/tech-stack/" target="_blank" rel="noopener noreferrer">{{ 'home.link.techstack' | translate }}</a></li>
      <li><a href="https://www.jhipster.tech/documentation-for-current-release/setup/" target="_blank" rel="noopener noreferrer">{{ 'home.link.openproject' | translate }}</a></li>
      <li><a href="https://www.jhipster.tech/documentation-for-current-release/tips/" target="_blank" rel="noopener noreferrer">{{ 'home.link.tips' | translate }}</a></li>
      <li><a href="https://www.jhipster.tech/documentation-for-current-release/microservices/" target="_blank" rel="noopener noreferrer">{{ 'home.link.microservices' | translate }}</a></li>
      <li><a href="https://www.jhipster.tech/documentation-for-current-release/entities/" target="_blank" rel="noopener noreferrer">{{ 'home.link.entities' | translate }}</a></li>
      <li><a href="https://www.jhipster.tech/documentation-for-current-release/entity-relations/" target="_blank" rel="noopener noreferrer">{{ 'home.link.entity-relations' | translate }}</a></li>
      <li><a href="https://www.jhipster.tech/documentation-for-current-release/generate-entity/" target="_blank" rel="noopener noreferrer">{{ 'home.link.generate-entity' | translate }}</a></li>
      <li><a href="https://www.jhipster.tech/documentation-for-current-release/multitenancy/" target="_blank" rel="noopener noreferrer">{{ 'home.link.multitenancy' | translate }}</a></li>
      <li><a href="https://www.jhipster.tech/documentation-for-current-release/jdl/" target="_blank" rel="noopener noreferrer">{{ 'home.link.jdl' | translate }}</a></li>
      <li><a href="https://www.jhipster.tech/documentation-for-current-release/client-side/" target="_blank" rel="noopener noreferrer">{{ 'home.link.client-side' | translate }}</a></li>
      <li><a href="https://www.jhipster.tech/documentation-for-current-release/server-side/" target="_blank" rel="noopener noreferrer">{{ 'home.link.server-side' | translate }}</a></li>
      <li><a href="https://www.jhipster.tech/documentation-for-current-release/heroku/" target="_blank" rel="noopener noreferrer">{{ 'home.link.heroku' | translate }}</a></li>
      <li><a href="https://www.jhipster.tech/documentation-for-current-release/kubernetes/" target="_blank" rel="noopener noreferrer">{{ 'home.link.kubernetes' | translate }}</a></li>
      <li><a href="https://www.jhipster.tech/documentation-for-current-release/openshift/" target="_blank" rel="noopener noreferrer">{{ 'home.link.openshift' | translate }}</a></li>
      <li><a href="https://www.jhipster.tech/documentation-for-current-release/cloud/" target="_blank" rel="noopener noreferrer">{{ 'home.link.cloud' | translate }}</a></li>
      <li><a href="https://www.jhipster.tech/documentation-for-current-release/ci-cd/" target="_blank" rel="noopener noreferrer">{{ 'home.link.cicd' | translate }}</a></li>
    </ul>

    <p>{{ 'home.like' | translate }}</p>

    <p>
      <span
        >{{ 'home.github' | translate }}<a href="https://github.com/jhipster/generator-jhipster" target="_blank" rel="noopener noreferrer">GitHub</a></span
      >
    </p>
  </div>
</div>